<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carduchan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <h2>Search Results</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
          <%= react_component('SearchBar', authenticity_token: form_authenticity_token) %>
          <p>
            <a href="/">Browse</a> | <a href="/search/new">Advanced Search</a>
          </p>
        </div>
      </div>

      <div class="row">
        <table id="card-table" class="table table-condensed table-striped">
          <tbody>
            <%= render search_results %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
