<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carduchan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <h2>Advanced Search</h2>
      <%= react_component('SearchForm', authenticity_token: form_authenticity_token) %>
    </div>
  </body>
</html>
