<tr>
  <td>
    <img src="<%= card.image_url %>">
  </td>
  <td>
    <p><span class="card-title <%= card.color %>"><%= card.name %></span></p>
    <table class="table table-condensed metadata-table">
      <tbody>
        <tr>
          <td>
            <ul class="list-unstyled card-metadata">
              <li>
                <em><%= card.card_type %></em>

                <% if card.traits.any? %>
                  &mdash;
                  <ul class="list-inline card-traits">
                    <% card.traits.each do |trait| %>
                      <li><%= trait.titleize %></li>
                    <% end %>
                  </ul>
                <% end %>

                <% unless card.card_type == 'Climax' %>
                  <ul class="list-inline card-level-cost">
                    <li class="card-level"><%= card.level %></li>
                    <li class="card-cost"><%= card.cost %></li>
                  </ul>
                <% end %>
              </li>
              <% if card.card_type == 'Character' %>
                <li><strong>Power: </strong> <%= card.power %></li>
                <li><strong>Soul: </strong> <%= card.soul %></li>
              <% end %>
            </ul>
          </td>
          <td class="col-md-2">
            <ul class="list-unstyled card-metadata">
              <% card.triggers.each do |trigger| %>
                <li><span class="label label-info"><%= trigger.titleize.upcase %></span></li>
              <% end %>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="2"><%= make_pretty(card.text) %></td>
        </tr>
      </tbody>
    </table>
  </td>
  <td class="col-md-2">
    <strong><%= card.expansion_name %></strong><br/>
    <% card.printings.sort_by(&:number).each do |printing| %>
      <span class="badge"><%= printing.rarity %></span> <%= printing.number %><br/>
    <% end %>
  </td>
</tr>
