
    :traits:
    - death
    - weapon

<%= form_for(printing) do |f| %>
  <fieldset>
    <%= fields_for(f.card) do |ff| %>
      <div class="form-group">
        <%= ff.label :name %>
        <%= ff.name :name %>
      </div>
      <div class="form-group">
        <%= ff.label :text %>
        <%= ff.textarea :text %>
      </div>
      <%= fields_for(ff.metadatum) do |fff| %>
        <div class="form-group">
          <%= fff.label :card_type %>
          <%= fff.select :card_type, %w(Character Climax Event Unknown) %>
        </div>
        <div class="form-group">
          <%= fff.label :color %>
          <%= fff.select :color, %w(blue green red yellow) %>
        </div>
        <div class="form-group">
          <%= fff.label :cost %>
          <%= fff.text_field :cost %>
        </div>
        <div class="form-group">
          <%= fff.label :level %>
          <%= fff.text_field :level %>
        </div>
        <div class="form-group">
          <%= fff.label :power %>
          <%= fff.text_field :power %>
        </div>
        <div class="form-group">
          <%= fff.label :soul %>
          <%= fff.text_field :soul %>
        </div>
      <% end %>
      <%= fields_for(ff.card_trigger) do |fff| %>
        <div class="form-group">
          <%= fff.label :come_back %>
          <%= fff.text_field :come_back %>
        </div>
        <div class="form-group">
          <%= fff.label :draw %>
          <%= fff.text_field :draw %>
        </div>
        <div class="form-group">
          <%= fff.label :gate %>
          <%= fff.text_field :gate %>
        </div>
        <div class="form-group">
          <%= fff.label :pool %>
          <%= fff.text_field :pool %>
        </div>
        <div class="form-group">
          <%= fff.label :return %>
          <%= fff.text_field :return %>
        </div>
        <div class="form-group">
          <%= fff.label :shot %>
          <%= fff.text_field :shot %>
        </div>
      <% end %>
    <% end %>
    <!-- traits -->
    <!-- expansion -->
    <div class="form-group">
      <%= f.label :image_url %>
      <%= f.text_field :image_url %>
    </div>
    <div class="form-group">
      <%= f.label :number %>
      <%= f.text_field :number %>
    </div>
    <div class="form-group">
      <%= f.label :rarity %>
      <%= f.select :rarity, %w(Unknown SP SR RRR RR R U C CR CC TD PR SSP XR RR+ WR GR) %>
    </div>
  </fieldset>
<% end %>
