
.card-title {
  border-radius: .25em;
  font-weight: 800;
  color: black;
  padding: .2em .6em .3em;
}

.card-title.yellow {
  background-color: #ffff99;
  opacity: 0.6
}

.card-title.red {
  background-color: #cc9090;
  opacity: 0.6;
}

.card-title.green {
  background-color: #5acc5a;
  opacity: 0.6
}

.card-title.blue {
  background-color: #9090cc;
  opacity: 0.6
}

.stock {
  background-color: #2020a0;
  display: inline-block;
  width: 15px;
  height: 20px;
}

table.metadata-table {
  background-color: transparent !important;
}

ul.card-metadata {
  ul {
    display: inline;
    margin-left: 1px;
    margin-right: 1px;
  }

  ul.card-traits {
    li {
      padding: 0;
    }
    li:nth-child(n+2):before {
      content: ", ";
      padding: 0;
    }
  }

  ul.card-level-cost {
    li {
      padding: 0;
    }
    li:first-child:before {
      content: "( ";
      padding: 0;
    }
    li:nth-child(n+2):before {
      content: "/ ";
      padding: 0;
    }
    li:last-child:after {
      content: " )";
      padding: 0;
    }
  }
}

article.character, article.climax, article.event {
  @extend .row;

  border-top: 1px solid #cdcdcd;

  padding: 6px;

  .card-image {
    @extend .hidden-sm;
    img {
      border: 1px solid;
    }
  }

  .card-metadata {
    @extend .list-unstyled;
    @extend .col-md-8;

    li.card-type, li.card-cost, li.card-level, li.card-trait {
      display: inline;
    }

    li.card-type {
      font-style: italic;
    }

    li.card-level:before {
      content: " (";
      padding: 0;
    }
    li.card-cost:before {
      content: "/";
      padding: 0;
    }
    li.card-cost:after {
      content: ")";
      padding: 0;
    }

    li.card-trait:nth-child(n+2):before {
      content: " \2014 ";
    }

    li.card-trait:nth-child(n+3):before {
      content: ", ";
      padding: 0;
    }
  }

  .card-printings {
    @extend .list-unstyled;
  }

  .card-title {
    @extend .col-xs-12;
    margin-bottom: 6px;
  }

  .card-triggers {
    @extend .list-unstyled;
    @extend .pull-right;
    @extend .col-md-4;

    text-align: right;
    margin-left: auto;
    vertical-align: top;

  }
}

article.climax {

  .card-metadata {
    li.card-cost, li.card-level, li.card-power, li.card-soul {
      display: none;
    }
  }
}

article.event {
  .card-metadata {
    li.card-power, li.card-soul {
      display: none;
    }
  }
}
